/* .IntroContainer{

} */

/* .Name {
    font-family: 'medium';
    font-weight: normal;
    font-size: 24px;
} */

.Occupation{
    font-family: 'medium';
    font-weight: normal;
    font-size: 14px;
    color: #828282;
}

.Icon:hover {
    fill: #BDBDBD;
}


/* .SocialLinksContainer{

} */